
.order-page{
  width: 100%;
  height: auto;
  background: rgb(238, 238, 238);
}

.order-page .order-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/** LEFT SIDE **/
.order-container .order-left{
  margin-top: 40px;
  width: 70%;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
}

.order-container .order-left .order-nav-frame{
 margin-left: 50px;
}

.order-page .order-main-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.order-left .order-main-box{
  width: 820px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background: #ddd7d7;
  border-radius: 20px;
  box-shadow: -10px 10px 5px rgba(75, 74, 74, 0.4);
  display: flex;
  flex-direction: column;
}

.order-left .order-main-box .order-box-scroll{ 
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin: 15px 10px 5px 10px;
  background: rgb(248, 247, 247);
  border: none;
  box-shadow: 0px 0px 10px 0.5px rgb(238, 238, 238);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-left .order-box-scroll .orders-name-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.order-left .orders-name-price .order-dish-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 16px;
}

.order-left .orders-name-price .title-dish{
  flex: 1;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 20px;
  color: #333;
}

.order-left .orders-name-price .price-box{
  display: flex;
  align-items: center;
  font-family: Quicksand;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #444;
}

.order-left .order-box-scroll .total-price-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: center;
}

.order-box-scroll .total-price-box .box-total{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Quicksand;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.order-box-scroll .total-price-box .verify-button{
  background-color: #125ea6;
  color: white;
  border-radius: 15px;
  font-weight: 700;
}

.order-box-scroll .total-price-box .cancel-button{
  border-radius: 15px;
  font-weight: 700;
}

.order-box-scroll .total-price-box .data-compl{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: Quicksand;
  font-weight: 600;
  color: #777;
}

/** RIGHT SIDE **/

.order-page .order-right{
  width: 30%;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-right .order-info-box{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  background: #ddd7d7;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgba(75, 74, 74, 0.4);
  display: flex;
  flex-direction: column;
}

.order-right .order-info-box .member-box{
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin: 10px;
  background: rgb(248, 247, 247);
  border: none;
  box-shadow: 0px 0px 10px 0.5px rgb(238, 238, 238);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.order-right .order-info-box .order-user-img{
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.order-right .order-info-box .order-user-img .order-user-avatar{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: flex;
}

.order-right .order-info-box .order-user-img .order-user-icon-box{
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.order-right .order-info-box .order-user-img .order-user-prof-img{
  position: absolute;
  top:2.5px;
  left: 2.5px;
  width: 20px;
  height: 20px;
}

.order-info-box .member-box .order-user-name{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.order-info-box .member-box .order-user-prof{
  font-size: 16px;
  text-align: center;
  color: gray;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.order-info-box .member-box .user-location{
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.order-right .payment-card{
  width: 100%;
  height: auto;
  margin-bottom: 200px;
  box-sizing: border-box;
  border: 10px solid #ddd7d7;
  background: rgb(248, 247, 247);
  box-shadow: 10px 10px 5px rgba(75, 74, 74, 0.4);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.order-right .payment-card .input-field{
  background-color: #f3f3f3;
  border-radius: 8px;
}

.order-right .payment-card .name-input {
  margin-top: 0;
}

.order-right .payment-card .payment-methods {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.order-right .payment-card .payment-methods img {
  width: 60px;
  height: auto;
  margin-left: 10px;
}
