.products-page{
  position: relative;
  width: 100%;
  height: auto;
  background: rgb(238, 238, 238);
}

/** Products **/

.products-page .products {
  width: 100%;
  height: auto;
  display: flex;
  background: rgb(238, 238, 238);
  flex-direction: column;
}

.products-page .avatar-big-box{
  width: 820px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .avatar-big-box .top-text{
  font-family: Roboto Serif;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(52, 52, 52);
}

.products-page .avatar-big-box .input{
  width: 360px;
  height: 35.68px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 18.5px;
  padding-left: 17px;
  box-shadow: 0px 4px 4px 0px rgba(213, 213, 213, 0.25);
  background: rgb(255, 252, 252);

}

.products-page .avatar-big-box .input::placeholder{
  font-family: Quicksand;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(74, 74, 74);
}

.products-page .avatar-big-box .input-btn{
  width: 106px;
  height: 40px;
  margin-left: -100px;
  border-radius: 18.5px;
}

.products-page .products .dishes-filter-section{
  margin-top: 62px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.products-page .products .dishes-filter-section .order{
  width: 70px;
  height: 36.5px;
  margin-left: 20px;
  border-radius: 8px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
}

.products-page .products .list-category-section{
  position: relative;
  margin-top: 40.5px;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.products-page .products .product-category{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .products .list-category-section .product-category .order{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 15px 11px;
  border-radius: 8px;
  min-width: 36px;
  text-align: center;
}

.products-page .products .product-wrapper {
  margin-left: 22px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.products-page .product-wrapper .product-card{
  position: relative;
  width: 273px;
  height: 361px;
}

.products-page .product-card .product-img{
  position: relative;
  width: 273px;
  height: 275px;
  background-size: cover;
  border-radius: 0px 50px 0px 0px;
}

.products-page .product-card .product-img .product-sale{
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  border-radius: 25px;
  padding: 6px 12px;
  box-shadow: 4px 6px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 146, 0);
  color: rgb(255, 255, 255);
}

.products-page .product-card .product-img .shop-btn{
  position: absolute;
  bottom: 12px;
  right: 104px;
  width: 64px;
  height: 46px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.5s ease;
  border: 2px solid rgb(227, 192, 141);
  border-radius: 10px;
  background: rgba(187, 47, 200, 0.78);
}

.products-page .product-card .product-img .view-btn{
  position: absolute;
  right: 37px;
  bottom: 12px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 3;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}

.products-page .products .product-img:hover .shop-btn, 
.products-page .products .product-img:hover .view-btn{
  opacity: 1;
}

.products-page .product-card .product-desc{
  margin-top: 18px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-page .product-card .product-desc .product-title{
  width: 100%;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  color: rgb(52, 52, 52);
}

.products-page .product-card .product-desc .product-desc{
  margin-top: 2px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #e3c08d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.products .product-wrapper .no-data{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

.products-page .pagination-section{
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.products-page .brands-logo{
  margin-top: 53px;
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: rgb(13, 21, 24);
}

.products-page .brands-logo .logo-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  color: rgb(227, 192, 141);
}

.products-page .brands-logo .logo-imgs{
  margin-top: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 87px;
  align-items: center;
}

.products-page .brands-logo .logo-imgs img{
  width: 258.78px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0px 0px 22px 0px rgb(228, 212, 212);
  background: rgb(13, 21, 24);
}

.products-page .address {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .address .address-area{
  width: 100%;
  height: 701px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.products-page .address .address-area .title{
  font-family: Roboto Serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgb(52, 52, 52);
}